
body, html{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font: normal 13px 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
}

#container {
    min-height: 100%;
    position: relative;
    background: #fff;
}

.first-form_background{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: #f3f3f3;
}

.form{
    position: absolute;
    z-index: 2;
    width: 450px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background: #fff
}



.first-form input{
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
    width: 310px;
    height: 44px;
    border: 1px solid #bdbdbd;
    margin: 32px auto 32px;
    display: block;
    outline: none;
    box-sizing: border-box;
    font-weight: 300;
}
.btn {
    border: none;
    font-family: inherit;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
    padding: 18px 60px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #17aa56;
    color: #fff;
    box-shadow: 0 6px #119e4d;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn-2c {
    border-radius: 5px;
}

.btn-2c:hover {
    box-shadow: 0 4px #119e4d;
    top: 2px;
}

.btn-2c:active {
    box-shadow: 0 0 #119e4d;
    top: 6px;
}



.first-form_p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin: 49px 0 0;
}

.photo-layer{
    background: #0f3774;
    background: -webkit-gradient(left top, right top, color-stop(0%, #0f3774), color-stop(32%, #0f3774), color-stop(100%, #4393d9));
    background: -webkit-linear-gradient(left, #0f3774 0%, #0f3774 32%, #4393d9 100%);
    background: linear-gradient(to right, #0f3774 0%, #0f3774 32%, #4393d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3774', endColorstr='#4393d9', GradientType=1 );
    overflow: hidden;
    height: 500px;
    width:100%;
}

.photo-layer_usernameData_image{
    width: 152px;
    height: 152px;
    border-radius: 85px;
    background: #f3f3f3;
    margin: 100px auto 0;
}

.photo-layer_usernameData_name{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.photo-layer_usernameData_name p{
    margin-bottom:0
}
.photo-layer_usernameData_description{
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin: 10px;
}

.photos-container{
    max-width: 1024px;
    margin: 30px auto 0;
}



.photos-container_row_link{
    display: inline-block;
    width: 23%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    position: relative;
}


.photos-container_row_link img, video{
    margin: auto;
    width: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #f3f3f3;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px;
    color: #003569;
}

@media (max-width: 735px) {
    .photo-layer{
        height: 300px;
    }
    .photo-layer_usernameData_name{
        font-size: 21px
    }
    .photo-layer_usernameData_description{
        font-size: 15px;
    }
    .photo-layer_usernameData_image{
        margin: 50px auto 0;
    }
}

.button{
    margin: 37px auto;
    width: 120px;
    height: 120px;
    border: 6px solid #f3f3f3;
    border-radius: 70px;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #293788;
    cursor: pointer;
    transition: 0.3s;
}

.animated{
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.button:hover{
    background: #f3f3f3;
    transform: scale(1.1);
}
.no_data{
    display: none;
}

.video{
    position: relative;
}
.video:before{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    background: url('images/icon.png');
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
}

.photo-layer_usernameData_image img{
    border-radius: 85px;
}

.photo_info{
    top: 4px;
    width: 96%;
    position: absolute;
    height: 95%;
    color: #333;
    font-size: 14px;
    text-align: center;
    padding-top: 46%;
    font-weight: 700;
    box-sizing: border-box;
    display: none; 
    background: #fff url('images/like.png') no-repeat 50% 39%;
    opacity: 0.6;
}

.modal_form{
    height: auto;
    background: #fff;
    color: #333;
    position: absolute;
    margin-bottom: 100px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
    overflow: auto; 
    display: none;
    opacity: 0;
    z-index: 14;
}

.modal_form img{
    width: 400px;
}

.overlay{
    z-index: 13;
    position: fixed;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.look_more{
    display: block;
    text-align: center;
    margin-top: 60px;
    color: #fff;
    text-decoration: none;
}

.visible_v{
    display: none;
}